<div class="detalle-producto-container relative flex flex-col items-center min-h-screen bg-gradient-to-br from-blue-100 via-blue-200 to-blue-300 text-gray-900 p-4 overflow-hidden" *ngIf="producto">
    <!-- Fondo dinámico con textura sutil -->
    <div class="absolute inset-0 w-full h-full bg-[url('https://www.transparenttextures.com/patterns/diamond-upholstery.png')] opacity-10"></div>
  
    <!-- Contenedor de la tarjeta de detalle -->
    <div class="detalle-card bg-white p-8 rounded-lg shadow-lg w-full max-w-4xl z-10 mt-8">
      <h2 class="text-3xl font-extrabold text-center bg-gradient-to-r from-blue-600 via-purple-500 to-pink-400 text-transparent bg-clip-text mb-6">
        Detalle del Producto
      </h2>
  
      <!-- Imagen del Producto -->
      <div class="imagen-container flex justify-center mb-6">
        <img [src]="producto.imagen" alt="{{ producto.nombre_producto }}" class="producto-imagen w-48 h-48 object-cover rounded-lg border-2 border-gray-200">
      </div>
  
      <!-- Información del Producto -->
      <div class="info-container grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
        <p><strong class="text-gray-700">Código de Barras:</strong> {{ producto.codigo_barras }}</p>
        <p><strong class="text-gray-700">Nombre:</strong> {{ producto.nombre_producto }}</p>
        <p><strong class="text-gray-700">Marca:</strong> {{ producto.marca }}</p>
        <p><strong class="text-gray-700">Tamaño:</strong> {{ producto.tamano }}</p>
        <p><strong class="text-gray-700">Precio por pieza:</strong> {{ producto.precio_pieza  }}</p>
        <p><strong class="text-gray-700">Precio por caja:</strong> {{ producto.precio_caja }}</p>
        <p><strong class="text-gray-700">Piezas por caja:</strong> {{ producto.piezas_caja }}</p>
        <p><strong class="text-gray-700">Productos disponibles:</strong> {{ producto.existencia_exhibe }}</p>
      </div>
  

      <!-- Botones -->
      <div class="flex justify-center space-x-4">

        <button 
          (click)="volver()" 
          class="bg-gray-500 hover:bg-gray-700 text-white py-2 px-4 rounded-lg transition-transform transform hover:scale-105"
        >
          Volver
        </button>
      </div>
    </div>
  </div>
  
